* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    background-color: #F3F5FC;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
}

.container__logo {
    margin-bottom: 4rem;
}

.container__left {
    height: 100%;
    width: 100%;
}

.container__right {
    align-items: center;
    background-color: #FFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.5rem;
    padding: 1rem;
    width: 100%;
}

.message-encrypt {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.message {
    width: 100%;
}

.message__img {
    display: none;
}

.message__text {
    max-width: 300px;
}

.message__title {
    color: #343A40;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.message__description {
    color: #495057;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.message-field {
    resize: none;
    outline: none;
}

.message-input {
    background-color: transparent;
    border: none;
    color: #0A3871;
    font-size: 2rem;
    height: 100%;
    width: 100%;
}

.message-warning {
    background: url("../img/warning.png") no-repeat;
    color: #495057;
    font-size: .75rem;
    font-weight: 400;
    padding: .125rem 0 .125rem 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.btn {
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    padding: 1.25rem 0;
    width: 100%;
}

.btn-encrypt {
    border: 1px solid #0A3871;
    background-color: #0A3871;
    color: #FFF;
}

.btn-decrypt {
    border: 1px solid #0A3871;
    background-color: #D8DFE8;
    color: #0A3871;
}

.message-result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.message-output {
    border: none;
    color: #495057;
    font-size: 2rem;
    height: 100%;
    width: 100%;
}

.btn-copy {
    background-color: #FFF;
    border: 1px solid #0A3871;
    color: #0A3871;
    width: 100%;
}

.invisible {
    display: none;
}

@media screen and (min-width: 992px) {
    .container {
        flex-direction: row;
        padding: 2rem;
    }

    .logo {
        padding: 0 50px;
    }

    .container__left {
        height: auto;
        width: 70%;
    }

    .container__right {
        margin-top: 0;
        width: 30%;
    }

    .message-encrypt {
        margin: 0 auto;
        max-width: 800px;
        padding-bottom: 1rem;
        width: 90%;
    }

    .message__img {
        display: initial;
        margin-bottom: 1rem;
        width: 100%;
    }

    .message-input {
        height: 70%;
    }

    .btn:not(.btn-copy) {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .buttons {
        gap: 1.5rem;
        flex-direction: row;
    }
}