body {
    background-color: #F3F5FC;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.conteudo {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-color: lightblue;
}

.conteudo-campos {
    position: absolute;
    right: 0;
}

.conteudo-botoes {
    position: absolute;
    bottom: 75px;
    left: 235px;
}

.campos {
    resize: none;
    border-width: 0;
    border-radius: 12px;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 0.8em;
    color: #0A3871;
}

.btn {
    padding: 12px 40px;
    border-color: #0A3871;
    border-radius: 12px;
    border-width: 1px;
    width: 200px;
    font-size: 0.8em;
    font-family: 'Inter', sans-serif;
}

.btn-criptografar {
    background-color: #0A3871;
    color: white;
    margin-right: 20px;
}

#campo-input {
    background-color: white;
    margin: 0 20px 60px 0;
}

#campo-output {
    background-color: white;
    margin: 30px 30px 0 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.btn-descriptografar {
    background-color: #D8DFE8;
    color: #0A3871;
}

.rodape {
    text-align: center;
    margin: 30px 0;
}