:root {
  --body-bg-col: #f3f5fc;
  --input-placeholder-col: rgba(10, 56, 113, 0.5);
  --logo-filter: none;
  --switcher-filter: none;

  --output-bg-col: #fff;
  --output-box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  --output--title-col: #343a40;
  --output--desc-col: #495057;
  --output-col: #495057;

  --input-col: #0a3871;
  --msg-warning-col: #495057;

  --encripy-btn-border-col: #0a3871;
  --encripy-btn-bg-col: #0a3871;
  --encripy-btn-col: #fff;
  --encripy-btn-hover-col: #072b61;

  --decrypt-btn-border-col: #0a3871;
  --decrypt-btn-bg-col: #d8dfe8;
  --decrypt-btn-col: #0a3871;
  --decrypt-btn-hover-col: #fff;

  --copy-btn-border-col: #0a3871;
  --copy-btn-bg-col: #fff;
  --copy-btn-col: #0a3871;
  --copy-btn-hover-col: #d8dfe8;
  --copy-btn-copied-col: #008000;
}

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-color: var(--body-bg-col);
}

[data-theme="dark"] {
  --body-bg-col: #0e0e16;
  --input-placeholder-col: rgba(47, 123, 217, 0.5);
  --input-col: #3690ff;
  --msg-warning-col: #a8b7c7;
  --logo-filter: brightness(2);
  --switcher-filter: invert(1);

  --output-col: #fff;
  --output-bg-col: #171725;
  --output-box-shadow: 0 0 2px #fff;
  --output--title-col: #dbedff;
  --output--desc-col: #aabcce;

  --encripy-btn-border-col: #fff;
  --encripy-btn-bg-col: #fff;
  --encripy-btn-col: #0a3871;
  --encripy-btn-hover-col: #d8dfe8;

  --decrypt-btn-border-col: #fff;
  --decrypt-btn-bg-col: #171725;
  --decrypt-btn-col: #fff;
  --decrypt-btn-hover-col: #29293e;

  --copy-btn-border-col: #fff;
  --copy-btn-bg-col: #171725;
  --copy-btn-col: #fff;
  --copy-btn-hover-col: #12121e;
  --copy-btn-copied-col: #1abe1a;
}
