:root {
  /* Base colors */
  --white: #fff;
  --gray: #495057;
  --blue: #3690ff;
  --dark-gray: #343a40;
  --light-blue: #d8dfe8;
  --dark-blue: #0a3871;
  --very-dark-blue: #072b61;
  --very-light-blue: #f3f5fc;
  --transparent-dark-blue: rgba(10, 56, 113, 0.5);
  --transparent-light-blue: rgba(47, 123, 217, 0.5);
  --transparent-black: rgba(0, 0, 0, 0.08);
  --green: #008000;

  /* Dark colors */
  --light-green: #1abe1a;
  --blackish-blue: #0e0e16;
  --dark-grayish-blue: #171725;
  --grayish-blue: #29293e;

  /* Component colors */
  --body-bg-col: var(--very-light-blue);
  --input-placeholder-col: var(--transparent-dark-blue);
  --logo-filter: none;
  --switcher-filter: none;
  --focus-col: var(--dark-blue);

  --output-bg-col: var(--white);
  --output-box-shadow: 0px 24px 32px -8px var(--transparent-black);
  --output--title-col: var(--dark-gray);
  --output--desc-col: var(--gray);
  --output-col: var(--gray);

  --input-col: var(--dark-blue);
  --msg-warning-col: var(--gray);

  --encripy-btn-border-col: var(--dark-blue);
  --encripy-btn-bg-col: var(--dark-blue);
  --encripy-btn-col: var(--white);
  --encripy-btn-hover-col: var(--very-dark-blue);

  --decrypt-btn-border-col: var(--dark-blue);
  --decrypt-btn-bg-col: var(--light-blue);
  --decrypt-btn-col: var(--dark-blue);
  --decrypt-btn-hover-col: var(--white);

  --copy-btn-border-col: var(--dark-blue);
  --copy-btn-bg-col: var(--white);
  --copy-btn-col: var(--dark-blue);
  --copy-btn-hover-col: var(--light-blue);
  --copy-btn-copied-col: var(--green);
}

[data-theme="dark"] {
  --body-bg-col: var(--blackish-blue);
  --input-placeholder-col: var(--transparent-light-blue);
  --input-col: var(--blue);
  --msg-warning-col: var(--light-blue);
  --logo-filter: brightness(2);
  --switcher-filter: invert(1);
  --focus-col: var(--white);

  --output-col: var(--white);
  --output-bg-col: var(--dark-grayish-blue);
  --output-box-shadow: 0 0 2px var(--white);
  --output--title-col: var(--very-light-blue);
  --output--desc-col: var(--light-blue);

  --encripy-btn-border-col: var(--white);
  --encripy-btn-bg-col: var(--white);
  --encripy-btn-col: var(--dark-blue);
  --encripy-btn-hover-col: var(--light-blue);

  --decrypt-btn-border-col: var(--white);
  --decrypt-btn-bg-col: var(--dark-grayish-blue);
  --decrypt-btn-col: var(--white);
  --decrypt-btn-hover-col: var(--grayish-blue);

  --copy-btn-border-col: var(--white);
  --copy-btn-bg-col: var(--dark-grayish-blue);
  --copy-btn-col: var(--white);
  --copy-btn-hover-col: var(--grayish-blue);
  --copy-btn-copied-col: var(--light-green);
}

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-color: var(--body-bg-col);
}

textarea:focus-visible,
button:focus-visible {
  animation: focus 0.25s forwards;
  outline: 2px solid var(--focus-col);
}
