::-webkit-input-placeholder {
  color: var(--input-placeholder-col);
}

::-moz-placeholder {
  color: var(--input-placeholder-col);
}

:-ms-input-placeholder {
  color: var(--input-placeholder-col);
}

:-moz-placeholder {
  color: var(--input-placeholder-col);
}

::placeholder {
  color: var(--input-placeholder-col);
}
